.one{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 40px;
left: 20px;
}
.two{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 70px;
left: 20px;
}
.three{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 100px;
left: 20px;
}
.four{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 130px;
left: 20px;
}
.five{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 160px;
left: 20px;
}
.six{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 190px;
left: 20px;
}
.seven{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 220px;
left: 20px;
}
.eight{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 250px;
left: 20px;
}
.nine{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 55px;
left: 50px;
}
.ten{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 85px;
left: 75px;
}
.eleven{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 115px;
left: 105px;
}
.twelve{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 145px;
left: 135px;
}
.thirteen{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 175px;
left: 165px;
}
.fourteen{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 205px;
left: 195px;
}
.fifteen{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 235px;
left: 225px;
}

.eightteen{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 40px;
left: 260px;
}
.nineteen{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 70px;
left: 260px;
}
.twenty{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 100px;
left: 260px;
}
.twentyone{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 130px;
left: 260px;
}
.twentytwo{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 160px;
left: 260px;
}
.twentythree{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 190px;
left: 260px;
}
.twentyfour{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 220px;
left: 260px;
}
.twentyfive{
    position: absolute;
    height: 20px;
    width: 20px;
background-color: blueviolet;
top: 250px;
left: 260px;
}